# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
.history
.env
android/app/google-services.json
ios/GoogleService-Info.plist
extract-translations.py
jsonToCsv.js
ios/tmp.xcconfig
ios/main.jsbundle
ios/main.jsbundle.map
.env.production
ios/assets/
.cursorrules
*.md
*.mdc
android/app/release/baselineProfiles/
android/app/release/output-metadata.json